.about{
    font-family: 'Inter', sans-serif;
    
}

.row {
    margin-top: 20px;
    align-items: center;
    vertical-align: middle;
}

.title {
    padding-top: 9rem;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.col-lg-8{
    align-items: center;
    text-align: justify;
    line-height: 35px;
}

.img{
    margin-top: 30px;
    display:block;
    padding-top: 7rem;
    height: 470px;
}

.fst-italic {
    font-size: 18px;
}

.para {
    font-size: 18px;
}

@media only screen and (max-width: 767px) {
	
    .img{
        
        padding-top: 2rem;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        align-items: center;
    }

    .col-lg-8 {
		text-align: center;
        font-size: 14px;
	}

    .title {
        padding-top: 2rem;
        font-weight: bold;
        font-size: 24px;
        text-decoration: underline;
    }
}