.about{
    font-family: 'Inter', sans-serif;
}

.row {
    margin-top: 20px;
    align-items: center;
    vertical-align: middle;
}

.about-title {
    padding-top: 6.25rem;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.7px;
    color: darkslategrey;
    text-decoration-thickness: 3px;
    text-decoration-color: gray;
}

.about-order {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.7px;
    color: darkslategrey;
    text-decoration-thickness: 3px;
    text-decoration-color: gray;
}

.before-order{
    
    line-height: 200%;
    margin-left: -20px;
    text-align: left;
    padding-bottom: 20%;
}

.col-lg-8{
    align-items: center;
    text-align: justify;
    font-size: 16px;
    line-height: 180%;
    
}

.img{
    display: block;
    margin-top: 6.25rem;
    height:300px;
}

@media only screen and (max-width: 767px) {
	
    .img{
        padding-top: 2rem;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        align-items: center;
    }

    .col-lg-8 {
		text-align: center;
        font-size: 16px;
	}

    .about-title {
        padding-top: 1rem;
        font-weight: bold;
        font-size: 24px;
    }

    .list-group{
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
	
    .img{
        padding-top: 3rem;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        align-items: center;
    }
    .about-title {
        padding-top: 1rem;
        font-weight: bold;
        font-size: 24px;
    }

    .list-group{
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 994px) {
	
    .img{
        padding-top: 3rem;
        height: 320px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        align-items: center;
    }
    .about-title {
        padding-top: 1rem;
        font-weight: bold;
        font-size: 24px;
    }

    .list-group{
        font-size: 16px;
    }
    
}