::-webkit-scrollbar {
    display: none;
}

.App {
    position: relative;
    min-height: 100vh;
    overflow:auto;
    padding-bottom: 13%;
}

@media only screen and (max-width: 767px) {
    .App {
        padding-bottom: 40%;
    }
}

@media only screen and (max-width: 376px) {
    .App {
        padding-bottom:60%;
    }
}

@media only screen and (max-width: 320px) {
    .App {
        padding-bottom:80%;
    }
}
