
.form-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6.25rem;
    font-family: 'Inter', sans-serif;
    width: 55%;
}

.result {
    font-size: 16px;
    animation: fade 5s linear; 
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}   

.form-control {
    margin-bottom: 15px;
}

.contact-title{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.7px;
    color: darkslategrey;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: gray;
}

@media only screen and (max-width: 767px) {
	.form-container {
        padding-top: 6.25rem;
        width: 80%;
        font-family: 'Inter', sans-serif;
	}

    .contact-title{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

