.form-container{
    display: block;
    padding-top: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
    width: 55%;
}

.result {
    font-size: 16px;
    animation: fadeIn 3s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}  

.form-control {
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
	.form-container {
        width: 80%;
        font-family: 'Inter', sans-serif;
	}

}

