.carousel {
    margin-bottom: 4rem;
    top:100px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 50px;

}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    height: 32rem;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.carousel-caption{
    font-family: 'Inter', sans-serif;
}

.item-active {
    display: block;
}

.carousel-control-prev {
    /* margin-top:60px; */
    left: 0;
}

.carousel-control-next {
    /* margin-top:60px; */
    right: 0;
}

.carousel-control-prev , .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opactity .15s ease;
}

.carousel-item, .bd-placeholder-img-1{
    background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658248961/Portraits%20By%20Kavindu/3Bannerlow-res_bevzsc.png);
    background-size: cover;
    height:480px;
    width: 100%;
}

.carousel-item, .bd-placeholder-img-2{
    background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658238045/Portraits%20By%20Kavindu/1Bannerlow-res_np4nh5.png);
    background-size: cover;
    height:480px;
    width: 100%;
}

.carousel-item, .bd-placeholder-img-3{
    background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658247388/Portraits%20By%20Kavindu/2Bannerlow-res_ipfq4k.png);
    background-size: cover;
    height:480px;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    
    .carousel-item, .bd-placeholder-img-1{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658249317/Portraits%20By%20Kavindu/3Bannerlow-res-portrait_l01lz4.png);
        background-size: cover;
        width: 100%;
    }

    .carousel-item, .bd-placeholder-img-2{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658239260/Portraits%20By%20Kavindu/1Bannerlow-res-portrait_tpjkqf.png);
        background-size: cover;
        width: 100%;
    }

    .carousel-item, .bd-placeholder-img-3{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658249508/Portraits%20By%20Kavindu/2Bannerlow-res-portrait_otvfcz.png);
        background-size: cover;
        width: 100%;
    }
}

@media only screen and (max-width: 280px) {
    
    .carousel-item, .bd-placeholder-img-1{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658249317/Portraits%20By%20Kavindu/3Bannerlow-res-portrait_l01lz4.png);
        /* background-size: cover; */
        width: 100%;
    }

    .carousel-item, .bd-placeholder-img-2{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658239260/Portraits%20By%20Kavindu/1Bannerlow-res-portrait_tpjkqf.png);
        /* background-size: cover; */
        width: 100%;
    }

    .carousel-item, .bd-placeholder-img-3{
        background-image: url(https://res.cloudinary.com/ddt5pwieo/image/upload/v1658249508/Portraits%20By%20Kavindu/2Bannerlow-res-portrait_otvfcz.png);
        /* background-size: cover; */
        width: 100%;
    }
}

